body {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: bold;
}

/*-------HEADER----------------------------------------------*/
.header {
  background-image: url(../images/banner-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 35px;
  z-index: 0;
  min-height: 449px; /*нужно ли?*/
  margin-bottom: 50px;  /*отступ от хедера до заголовка вниз*/
}
.header::after {
  content: "";
  position: absolute;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  z-index: 1;
}
.container {
  max-width: 1200px; 
  margin: 0 auto;
}
.container-main-aside {
  display: flex;
}
.row-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 15px;
  z-index: 2;                         
}
.logo-img {
  width: 180px;
}
.menu-list {
  list-style-type: none;
  display: flex;
  gap: 35px;
}
.menu-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: OpenSans;
  color: #fff;
  font-size: 13px;
}
.menu-link:hover {
  text-decoration: underline;
}
.header-title {   /*---TITLE--------------*/
  width: 680px;
  font-size: 45px;
  line-height: 78px;
  font-family: OpenSans;
  text-transform: uppercase;
  color: #fff;
  margin: 73px auto 0;
  text-align: center;
  position: relative;
  z-index: 2;
}
/*---TRENDS----------------------------------------------*/
.trends-section {
  width: 100%;
  font-family: OpenSans;
  margin-bottom: 63px;
}
.title-underline {
  text-align: center;
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 14px;
  font-family: OpenSans;
  font-weight: 700;
  line-height:  29px;
}
.title-underline::after {
  content: "";
  display: block;
  margin: 14px auto 0 auto;
  margin-bottom: 28px;  /*Нужно ли?*/
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
}
.only-trends {  /*Стиль только для первого заголовка в трендах, ибо дальше 14пх*/
  font-size: 20px;
}
.trends-list {
  display: flex;
  gap: 5px;
}
.trends-item {
  width: calc(25% - 5px);
  height: 320px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
  box-sizing: border-box; /*нужно ли??*/
}
.garden {
  background-image: url(../images/trend1.jpg);
}
.cheese {
  background-image: url(../images/trend2.jpg);
}
.mountins {
  background-image: url(../images/trend3.jpg);
}
.lemon {
  background-image: url(../images/trend4.jpg);
}
.trends-item::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.6;
}
.trends-content {
  padding: 40px 21px 40px 21px;
  margin: 15px;
  border: 3px solid #b59f5b;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}
.tags-list {
  list-style-type: none;
  display: flex;
  gap: 10px 20px;
  flex-wrap: wrap;
  /*margin-bottom: 15px;*/
}
.tag-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #b59f5b;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}
.tag-link:hover {
  text-decoration: underline;
  text-shadow: 0 0 1px #c6b688;
}
.trends-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.trends-title-link {
  text-decoration: none;
  color: #ffffff;
}
.trends-title-link:hover {
  text-shadow: 0 0 1px #fff;
}
/*--MAIN------------------------------*/
.main {
  width: 65%;
  font-family: OpenSans;
}
.main-item {
  display: flex;
  box-sizing:border-box; /*нужно???*/
  margin-bottom: 60px;
}
.main-item-img {  /*--для тавлета дописать стили*/
  background-color:#f0f0f0;
  width: 381px;
  height: 290px;
}

/*.main-img {
  width: 100%;
  position: relative;
}
.main-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 0;
}
*/
.main-item-text {
  margin-left: 30px;
  max-width: 370px; /*--добавлено 04.08*/
}
.main-item-title {
  margin-bottom: 20px;
}
.main-link {
  font-size: 20px;
   line-height: 24px;
   color: #0f0d0e;
   font-weight: 700;
   text-transform: uppercase;
   text-decoration: none;
}
.main-link:hover {
  color: #b59f5b;
}
.main-middle-row {
  list-style-type: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin-bottom: 40px;
}
.main-middle-row-data {
  font-size: 12px;
  line-height: normal;
  color: #888888;
  font-weight: 400;
}
.main-middle-row-author {
  font-size: 12px;
  line-height: normal;
  color: #000000;
  font-weight: 700;
}
.main-text-content {
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
}

/*--ASIDE--------------------------*/
.new-posts {
  font-family: OpenSans;
  width: 270px;
  text-align: center;
  margin-left: 12.5%; /*НЕТОЧНО!!!!!!!!!!!!*/
}
.section-item {
  display: flex;
  margin-bottom: 30px;
}

.section-item-img {   /*подкладка под картинку*/
  background-color: #f0f0f0;
  width: 70px;
  height: 70px;
}
.section-item-text {
  margin-left: 18px; /*--Изменено 4.08*/
  text-align: left;
  width: 181px; /*--Добавлено 4.08 для выравнивания*/
}
.aside-data {
  margin: 0; 
}
.section-item-text-title {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 17px;
}
.section-item-link {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}
.section-item-link:hover {
  color: #b59f5b;
}
.search-form {
  display: flex;
}
/*---ФОРМЫ-------------------------------------*/
.field {     /*--ФОРМА ПОИСКА------------------*/
  height: 50px;
  width: 220px;
  box-sizing: border-box;
  background-color: #f4f7f6;
  border: none;
  padding: 0 20px 0 20px;
  font-size: 13px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
  font-family: Opensans;
}
.field:focus {
  outline: 1px solid #b59f5b;
}
.search_button {
  min-width: 50px;
  height: 50px;
  max-width: 50px;
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  border: none;
  cursor: pointer;
  padding: 0;
}
.search {
  margin-top: 45px;
  margin-bottom: 50px;
}
.email {  /*--FORMA POISKA-------------------------*/
  margin-top: 35px;
  margin-bottom: 40px;;
}
.email-input {
  box-sizing: border-box;
  height: 50px;
  width: 270px;
  border: none;
  padding: 0 20px 0 20px;
  font-size: 13px;
  line-height: normal;
  color: #000000;
  font-weight: 400;
  font-family: "OpenSans";
  background-color: #f4f7f6;
}
.email-input:focus {
  outline: 1px solid #b59f5b;
}
.subscribe_button {
  margin-top: 15px;
  width: 270px;
  height: 50px;
  padding: 0;
  background-color: #b59f5b;
  border: none;
  font-size: 14px;
  line-height: normal;
  color: #ffffff;
  font-weight: 700;
  font-family: "OpenSans";
  text-transform: uppercase;
}

.subscribe_button:hover {
  background-color: #323232;
  transition: 0.5s;  /*Возможно не зайдет*/
}
.subscribe_button:hover {
  shadow: ;   /*--Дописать тень--*/
  cursor: pointer;
}
/*---ТЕГИ-------------------------------*/
.tags-section-list {
  margin-bottom: 40px;
}
.tags-section-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 26px;
  list-style-type: none;
  gap: 5px;
  padding: 0;
}
.tags-list-link {
  display: block;
  border: 3px solid #eeeeee;
  text-decoration: none;
  font-size: 12px;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 13px;
}
.tags-list-link:hover {
  text-shadow: 0 0 1px #9a9a9a;
  border: 3px solid #b59f5b;
}
.themes-list { /*---ТЕМЫ----------------------------*/
  margin-top: 11px;
  list-style-type: none;
  text-align: left;
  padding: 0;
}
.themes-list-item {
  padding-top: 21px;
  padding-bottom: 17px;
  border-bottom: 1px solid #eeeeee;
}
.themes-list-link {
  font-size: 14px;
  line-height: normal;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}
.link-count {
  font-size: 12px;
  color: #b59f5b;
  font-weight: 700;
  vertical-align: top;
  margin-left: 4px;
}
.themes-list-link:hover {
  color: #b59f5b;
}
/*---МАГАЗИН-----------------------------*/
.shop {
  font-family: OpenSans;
}
.shop-list {
  display: flex;
  gap: 60px;
}
.shop-item {
  width: 25%; /*width: calc(33.33% - 40px); */
  padding: 0 31px;
  display: flex;
  flex-direction:column;
}
.shop-text {

}
.shop-item-title {
  font-size: 20px;
  line-height: 24px;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 15px;
  margin-top: 0;
}
.shop-item-text {
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  margin: 0 0 25px 0;
}
.shop-text-link {
  text-decoration: none;
  color: #b59f5b;
}
.shop-text-link:hover {
  text-decoration: underline;
  text-shadow: 0 0 1px #9a9a9a;
}
.shop-price-button {
  display: flex;
  justify-content: space-between;
}
.shop-prices {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.old-price {
  font-size: 14px;
  line-height: 24px;
  text-decoration: line-through;
  color: #0f0d0e;
  font-weight: 700;
}
.new-price {
  font-size: 20px;
  line-height: 24px;
  color: #0f0d0e;
  font-weight: 700;
}
.shop-btn {
  height: 49px;
  width: 140px;
  background-color: #b59f5b;
  font-size: 14px;
  border: none;
  color: #fff;
  font-family: OpenSans;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.shop-btn:hover {
  outline: 1px solid #b59f5b;
}

.shop-text {
  outline: 3px solid #b59f5b;;
  outline-offset: 22px;
  padding-top: 25px;
  flex-grow: 1;
}
/*---FOOTER------------------------*/
.footer {
  height: 83px;
  background-color: #f4f7f6;
  margin-top: 64px;
}
.footer-container {
  margin-bottom: 55px;
}
.social-icons {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 30px;
  padding: 30px 0;
}
.social-link {
  display: block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}
.dribble {
  background-image: url(../svg/001-dribbble.svg);
}
.pinterest {
  background-image: url(../svg/001-pinterest.svg);
}
.tumblr {
  background-image: url(../svg/003-tumblr.svg);
}
/*---COPY-------------------*/
.copy {
  font-family: OpenSans;
  display: block;
  font-size: 12px;
  text-align: center;
  padding-bottom: 45px;
}
.copy-link {
  text-decoration: none;
  color: #999999;
}
/*---POPUP---------------------*/
.popup {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  position: fixed;
  top: 0; 
  left: 0;
  font-family: OpenSans;

}
.popup-container {
  width: 390px;
  box-sizing: border-box;
  padding: 50px 30px 0 30px;
  position: absolute;
  background-color: #fff;
  left: calc(50% - 195px);
  top: calc(10%);
}
.popup-close {
  width: 18px;
  position: absolute;
  top: -25px;
  right: -2px;
}
.popup-content {
  display: flex;
  flex-direction: column;
}
.popup-text {
  font-size: 13px;
  margin-bottom: 12px;
}
.popup-select {        /*-----SELECT------*/
  appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-size: 12px;
  color: #a2a4a3;
  background-repeat: no-repeat;
  background-position: right 15px center;
  height: 48px;
  background-color: #f4f7f6;
  padding-left: 19px;
  border: none;
  margin-bottom: 30px;
}
.popup-select:focus {
  outline: none;
  border: 1px solid #b59f5b;
}
.popup-radio {    /*----RADIO--------*/
  margin-bottom: 20px;
}

.radio-text {
  font-size: 13px;
}
.text-yes::before {
  content: "";
  background-image: url(../svg/form-circle.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
  vertical-align: middle;
  margin-right: 5px;
}
.text-no::before {
  content: "";
  background-image: url(../svg/form-empty-circle.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
  vertical-align: middle;
  margin-right: 5px;
}
/*.btn-yes:checked ~ .radio-text::before {
  background-image: url(../svg/form-circle.svg);
}
.btn-no:checked ~ .radio-text::before {
  background-image: url(../svg/form-empty-circle.svg);
}         ---------ЗАЧЕМ????----------------*/
.popup-radio-btn {
  display: none;
}
.popup-field {  /*----TEXTAREA------*/
  box-sizing: border-box;
  min-width: 330px;
  min-height: 130px;
  max-width: 330px;
  max-height: 130px;
  padding: 21px;
  font-family: OpenSans;
  color: #a2a4a3;
  border: none;
  background-color: #f4f7f6;
  margin-bottom: 26px;
}
.popup-field:focus {
  outline: none;
  border: 1px solid #b59f5b;
}
.popup-button {
  height: 46px;
  width: 100%;
  margin-bottom: 30px;
  background-color: #b59f5b;
  border: none;
  padding: auto;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
.popup-button:hover {
  cursor: pointer;
  border: 1px solid #b59f5b;
}

/*--------------MEDIA--TABLET-------------------------------*/

@media (min-width: 641px) and (max-width: 1200px) {
  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
  }
  .logo-img {
    width: 160px;
  }
  .header-menu {
    display: none;
  }
  .container {    
    max-width: 697px;
    margin: 0 auto;
    padding: 0 20px;
  }
  /*----MENU_BURGER---------------*/
  .menu-burger__header {
    position: relative; 
    width: 25px; 
    height: 19px;
    display: block;
  }

  .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #ffffff;
    margin: 0 auto;
    padding: 0;
    
  }

  .menu-burger__header span {
    top: 16px;
  }
.menu-burger__header:after, .menu-burger__header:before {
    content: '';
  }
.menu-burger__header:after {
    top: 8px;
  }


  .header-title {
    width: 600px;
    font-size: 40px;
    line-height: 55px;
    margin-top: 150px;
  }
  .new-posts {
    margin-left: 35px;
  }
  /*----TRENDS----------------------*/
  .trends-list {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
  }
  .trends-item {
    width: calc(50% - 5px)
  }
  .trends-title-link {
    font-size: 17px;
    line-height: 22px;
  }
  .main {   /*---MAIN--------------*/
    max-width: 56.2%;
  
  }
  .main-item {
    flex-direction: column;
  }
  .main-img {    /*--для тавлета дописать стили что бы не ломалось*/
    max-width: 100%;
  }
  .main-item-text {
    margin-left: 0;
  }
  .main-text-content {
    border-bottom: 3px #eeeeee solid;
    padding-bottom: 25px;
  }
  .shop-list {   /*---SHOP---------*/
    flex-wrap: wrap;
    display: flex;
    gap: 60px 15px;
  }
  .shop-item {
    align-items: center;
    width: 38.5%;
  }
  .shop-text {
    outline-offset: 17px;
    padding-top: 22px;
    width: 292px;
  }
  .shop {
    max-width: 697px;
    margin: 0 auto;
  }
}
@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
  .trends-item {
    width: calc(25% - 5px);
  }
}

/*--------------MOBILE-----------------------------------------------*/
@media (max-width: 640px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
  .header {
    background-image: url(../images/banner-mobile.jpg);
    padding-top: 230px;
    padding-bottom: 149px;
  }
  .row-top {
    flex-direction: column-reverse;
    align-items: center;
  }
  .menu-burger__header {
    position: relative; 
    width: 25px; 
    height: 19px;
    display: block;
    bottom: 180px;
    left: 220px;
  }

  .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #ffffff;
    margin: 0 auto;
    padding: 0;
    right: 15px;
  }

  .menu-burger__header span {
    top: 16px;
  }
.menu-burger__header:after, .menu-burger__header:before {
    content: '';
  }
.menu-burger__header:after {
    top: 8px;
  }
  .logo-img {
    width: 269px;
    margin-top: 110px;
  }
  .header-menu {
    display: none;
  }
  .header-title {
    width: 280px;
    font-size: 26px;
    line-height: 36px;
    margin: 40px auto 0 auto;
  }
  .trends-list {   /*---TRENDS-------*/
    max-width: 640px;
    flex-wrap: wrap;
  }
  .trends-item {
    width: 100%;
  }
  .container-main-aside { /*-----MAIN-----*/
    display: block;
    max-width: 330px
  }
  .main {
    width: 100%;
  }
  .main-item {
    display: block;
    flex-direction: column;
    border-bottom: 3px #eeeeee solid;
    padding-bottom: 22px;
    margin-bottom: 35px;
  }
  .main-img {
    max-width: 100%;
  }
  .main-item-text {
    margin: 0;
    margin-top: 10px;
  }
  .main-item-title {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
  }
  .main-middle-row {
    margin-bottom: 20px;
  }
  .new-posts { /*----ASIDE----------*/
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .title-underline {
    font-size: 16px;
  }
  .field {  /*----FORMS-------------*/
    width: 100%;
  }
  .email-input {
    width: 100%;
  }
  .subscribe_button {
    width: 100%;
  }
  .shop {
 
  }
  .shop-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .shop-item {
    padding: 0 20px;
    width: inherit;
  }
  .shop-item-title {
    font-size: 17px;
    line-height: 22px;
  }
  .shop-text {
    outline-offset: 20px;
    padding-top: 22px;
    width: 285px;
  }
  .footer {
    width: inherit;
    margin: 60px 15px;
  }
  .social-link {
    width: 20px;
    height: 20px;
    background-size: 20px;
  }
  .popup-container {   /*---POPUP-----*/
    width: 330px;
    padding: 30px 25px 30px;
    left: calc(50% - 165px);
  }
  .popup-close {
    right: 1px;
  }
  .popup-field {
    min-width: 280px;
    min-height: 130px;
    max-width: 280px;
    max-height: 130px;
  }
}
@media (orientation: landscape) and (max-width: 640px) {
  .trends-item {
    width: calc(50% - 5px);
  }
}










/*Хидден*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
._hidden {
  display: none;
}